<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="MotorCarTest">
        <classes>
            <class name="com.modern.firstProject.motor.motorCar.Page_01_InputTest"/>
            <class name="com.modern.firstProject.motor.motorCar.Page_02_QrpTest"/>
            <class name="com.modern.firstProject.motor.motorCar.Page_99_VerifyTest"/>
        </classes>
    </test>
</suite>